<head>
  <meta charset="UTF-8">
  <title>Node.js blog</title>
  <style>
  
    *:focus {
      outline: none;
    }

    body {
      font: 16px/24px Helvetica, Arial, sans;
      width: 400px;
      margin: 50px auto;
    }
 
    label {
      float: left;
      min-width: 100px;
      vertical-align: top;
    }
 
    input[type="text"], textarea {
      width: 280px;
      border: 1px solid #ccc;
      padding: 8px;
      font: 14px Helvetica, Arial, sans;
    }
 
    input[type="submit"] {
      border: 1px solid #aaa;
      background: #eee;
      padding: 12px 24px;
    }

    .pager {
      list-style: none;
      text-align: center;
    }
    .pager li {
      margin: 0 0.5em;
      padding: 0;
      display: inline-block;
    }

  </style>
</head>